In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [6]:
df = pd.read_csv('6_genre_clean_training_data.txt', sep = r"<|>", error_bad_lines = False, header = None)

Skipping line 4239: Expected 7 fields in line 4239, saw 9. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 8947: Expected 7 fields in line 8947, saw 8. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 9729: Expected 7 fields in line 9729, saw 9. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 10284: Expected 7 fields in line 10284, saw 9. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 12474: Expected 7 fields in line 12474, saw 10. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 15108: Expected 7 fields in line 15108, saw 9. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [7]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [8]:
df.drop(columns = [0, 1, 2, 5, 6], inplace = True)
df.rename(columns = {3:'genre', 4:'story'}, inplace = True)

In [9]:
df.head()

      genre                                              story
0    action   Prince (Vivek Oberoi) is a sharp and intellig...
1     drama   Life is going along smoothly for Jeff and Mar...
2     drama   A young girl suddenly finds herself wealthy, ...
3     drama   Varghese (Mohanlal) is a Kalari master. Shyam...
4  thriller   When Adrien Williams is released from a menta...

In [10]:
df['genre'].value_counts()

drama        19056
action        5391
thriller      3988
horror        1497
sci_fi         826
superhero      268
Name: genre, dtype: int64

In [11]:
df_drama = df[df['genre'] == 'drama']
df_action = df[df['genre'] == 'action']
df_thriller = df[df['genre'] == 'thriller']
df_horror = df[df['genre'] == 'horror']
df_sci_fi = df[df['genre'] == 'sci_fi']
df_superhero = df[df['genre'] == 'superhero']

In [12]:
df_drama['story'].to_csv('train_drama.txt', index = None)
df_action['story'].to_csv('train_action.txt', index = None)
df_thriller['story'].to_csv('train_thriller.txt', index = None)
df_horror['story'].to_csv('train_horror.txt', index = None)
df_sci_fi['story'].to_csv('train_scifi.txt', index = None)
df_superhero['story'].to_csv('train_superhero.txt', index = None)